* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;

    display: flex;

}

aside {
    width: 200px;
    height: 100%;
    background-color: gray;

    display: flex;
    justify-content: center;
}

aside .logo {
    margin-top: 50px;

    width: 100px;
    height: 50px;
    background-color: blue;
}

.main {
    width: 100%;
}

header {
    height: 100px;
    background-color: antiquewhite;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.testo {
    margin: 20px;
    background-color: gray;
    padding: 5px;
    border-radius: 5px;
}

.searchmain {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    background-color: burlywood;
    width: 500px;
    height: 250px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: 150px;
    margin: 50px;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

button {
    width: 50px;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

.icon {
    position: absolute;
    bottom: 0;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: gray;
}

@media screen and (max-width:382px) {
    aside {
        display: none;
    }

}